.callRequestForm {
  position: absolute;
  left: 10%;
  top: 80vh;
  height: 20vh;
  width: 80vw;
  background: rgba(117, 117, 117, 0.884);
}
.title {
  color: white;
  margin-left: 15px;
  margin-top: 15px;
  font-size: 30px;
}
