.itemCard {
  /* background: grey; */
  /* width: 100%; */
  height: 600px;
  width: 70vw;
  /* background: red; */
  /* padding: 10px; */
  /* margin: 10px; */
  transition: all 0.2s linear;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  transform: translateX(-200vw);
  animation-name: offerSlide;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  margin-bottom: 200px;
  animation-play-state: paused;

  /* text-align: center; */
  /* align-items: center; */
  /* justify-content: end; */
}

@keyframes offerSlide {
  to {
    transform: translateX(0);
  }
}

/* .itemCard:hover {
  box-shadow: 0 0 10px black;
}
.itemCard:hover .header {
  font-size: 25px;
  padding: 0;
} */
/* .itemCard:hover .info {
  font-size: 14px;
  text-align: justify;
  padding: 0;
}
.itemCard:hover .pic {
  background-size: 105%;
  padding: 0;
  height: 70%;
}*/

.number {
  position: absolute;
  height: calc(100%);
  border-radius: 20px 20px 0 0;
  background: rgba(255, 255, 255, 0.425);
  padding-left: 10px;
  padding-right: 10px;
  top: -50px;
  left: 60vw;
  color: rgb(119, 119, 119);
  font-weight: 900;
  box-shadow: 0 0 20px black;
  font-size: 70px;
  font-family: "Lora", serif;
  transition: all 0.3s linear;
}
/* .number:hover {
  top: -80px;
  height: calc(100% + 80px);
} */

/* .line {
  position: absolute;
  top: 40px;
  left: calc(15% + 40px);
  height: 5px;
  width: 700px;
  background: rgb(112, 112, 112);
} */

.line {
  position: absolute;
  top: 40px;
  left: calc(15% + 40px);
  height: 0;
  width: 0;
  border-left: 700px solid rgb(80, 80, 80);
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  animation-name: lineColor;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes lineColor {
  0% {
    border-left: 700px solid rgb(80, 80, 80);
  }
  50% {
    border-left: 700px solid rgb(202, 202, 202);
  }
  100% {
    border-left: 700px solid rgb(80, 80, 80);
  }
}

.lineBottom {
  position: absolute;
  top: 550px;
  left: calc(-5%);
  height: 3px;
  width: 600px;
  background: rgb(80, 80, 80);
  animation-name: lineBottomColor;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes lineBottomColor {
  0% {
    background: rgb(202, 202, 202);
  }
  50% {
    background: rgb(80, 80, 80);
  }
  100% {
    background: rgb(202, 202, 202);
  }
}

.pic {
  position: absolute;
  top: 0;
  left: 30%;
  width: 70%;
  height: 600px;
  /* border: 1px solid red; */
  /* text-align: center; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0px;
  border-radius: 10px;
  /* border: 1px solid black; */
  transition: all 0.5s linear;
  box-shadow: 0 0 10px black;
  z-index: -100;
}

.header {
  position: absolute;
  top: -45px;
  left: calc(-5%);
  /* background: rgba(153, 153, 153, 0.76); */
  box-shadow: 0 0 20px black;
  width: 400px;
  text-align: center;
  border-radius: 20px 20px 20px 20px;
  color: rgb(94, 94, 94);
  font-weight: bold;
  font-size: 40px;
  padding: 0 5px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "Lora", serif;
  transition: all 0.2s linear;
}
.info {
  position: relative;
  top: 100px;
  height: 350px;
  left: 50x;
  width: 300px;
  color: black;
  padding: 0 5px;
  font-size: 13px;
  text-align: justify;
  border-radius: 10px;
  padding: 10px;
  background: rgba(216, 216, 216, 0.63);

  font-family: "Lora", serif;
  transition: all 0.2s linear;
  box-shadow: 0 0 10px black;

  /* padding-bottom: 10px; */
}

@media (max-width: 1200px) {
  .itemCard {
    /* padding: 0 50px; */
    width: 80%;
  }
  .header {
    font-size: 20px;
    padding: 0;
  }
  .itemCard:hover .header {
    font-size: 21px;
  }
  .info {
    font-size: 11px;
    padding: 0;
  }
  .itemCard:hover .info {
    font-size: 11px;
    text-align: justify;
  }
}
