.itemCard {
  /* background: grey; */
  /* width: 100%; */
  height: 600px;
  width: 70vw;
  /* background: red; */
  /* padding: 10px; */
  /* margin: 10px; */
  transition: all 0.2s linear;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  transform: translateX(-200vw);
  animation-name: offerSlide;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  margin-bottom: 200px;
  animation-play-state: paused;

  /* text-align: center; */
  /* align-items: center; */
  /* justify-content: end; */
}

@keyframes offerSlide {
  to {
    transform: translateX(0);
  }
}

/* .itemCard:hover {
  box-shadow: 0 0 10px black;
}
.itemCard:hover .header {
  font-size: 25px;
  padding: 0;
} */
/* .itemCard:hover .info {
  font-size: 14px;
  text-align: justify;
  padding: 0;
}
.itemCard:hover .pic {
  background-size: 105%;
  padding: 0;
  height: 70%;
}*/

.number {
  position: absolute;
  height: calc(100%);
  /* border-radius: 20px 20px 0 0; */
  background: rgba(102, 102, 102, 0.425);
  padding-left: 10px;
  padding-right: 10px;
  top: -80px;
  left: 60vw;
  color: rgb(248, 248, 248);
  font-weight: 900;
  box-shadow: 0 0 20px black;
  font-size: 70px;
  font-family: "Lora", serif;
  transition: all 0.3s linear;
}
/* .number:hover {
  top: -80px;
  height: calc(100% + 80px);
} */

/* .line {
  position: absolute;
  top: 40px;
  left: calc(15% + 40px);
  height: 5px;
  width: 700px;
  background: rgb(112, 112, 112);
} */

.line {
  position: absolute;
  top: 40px;
  left: calc(15% - 200px);
  height: 0;
  width: 0;
  border-left: 700px solid gold;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  animation-name: lineColor;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes lineColor {
  0% {
    border-left: 700px solid gold;
  }
  50% {
    border-left: 700px solid rgb(82, 67, 20);
  }
  100% {
    border-left: 700px solid gold;
  }
}

.lineBottom {
  position: absolute;
  top: 550px;
  left: calc(-5%);
  height: 3px;
  width: 350px;
  background: gold;
  animation-name: lineBottomColor;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes lineBottomColor {
  0% {
    background: rgb(82, 67, 20);
  }
  50% {
    background: gold;
  }
  100% {
    background: rgb(82, 67, 20);
  }
}

.pic {
  position: absolute;
  top: 0;
  left: 30%;
  width: 70%;
  height: 600px;
  /* border: 1px solid red; */
  /* text-align: center; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0px;
  /* border-radius: 10px; */
  /* border: 1px solid black; */
  transition: all 0.5s linear;
  box-shadow: 0 0 10px black;
  z-index: -100;
}

.header {
  position: absolute;
  top: -120px;
  left: calc(-15%);
  /* background: rgba(153, 153, 153, 0.76); */
  /* box-shadow: 0 0 20px black; */
  width: 400px;
  text-align: center;
  border-radius: 20px;
  color: rgb(236, 236, 236);
  font-weight: bold;
  font-size: 40px;
  padding: 0 5px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "Lora", serif;
  transition: all 0.2s linear;
}
.info {
  position: relative;
  top: 100px;
  height: 350px;
  left: -200px;
  width: 500px;
  color: rgb(236, 236, 236);
  padding: 0 5px;
  font-size: 20px;
  text-align: right;
  /* border-radius: 10px; */
  padding: 20px;
  /* border: 1px solid white; */
  /* padding-top: 20px; */
  /* background: rgba(43, 43, 43, 0.466); */

  /* background: rgba(216, 216, 216, 0.63); */

  font-family: "Lora", serif;
  transition: all 0.2s linear;
  /* box-shadow: 0 0 10px black; */

  /* padding-bottom: 10px; */
}

@media (max-width: 1200px) {
  /* .itemCard { */
  /* padding: 0 50px; */
  /* width: 80%; */
  /* } */
  /* .header {
    font-size: 20px;
    padding: 0;
  } */
  /* .itemCard:hover .header {
    font-size: 21px;
  } */
  /* .info {
    font-size: 11px;
    padding: 0;
  } */
  /* .itemCard:hover .info {
    font-size: 11px;
    text-align: justify;
  } */
}

@media (max-width: 1000px) {
  .itemCard {
    height: 100vh;
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
    margin-top: 100px;
  }
  .number {
    left: 10%;
  }
  .header {
    top: -90px;
    left: -100px;
    font-size: 20px;
  }
  .line {
    top: -30px;
    left: 0;
    border-left: 300px solid gold;
    animation-name: lineColor;
  }
  @keyframes lineColor {
    0% {
      border-left: 300px solid gold;
    }
    50% {
      border-left: 300px solid rgb(82, 67, 20);
    }
    100% {
      border-left: 300px solid gold;
    }
  }
  .pic {
    width: 100vw;
    height: 60vh;
    left: 0;
  }
  .number {
    left: 70vw;
    height: 60vh;
  }
  .info {
    /* position: relative; */

    text-align: left;
    /* padding-left: 5px; */
    width: 100vw;
    bottom: 0;
    top: 60vh;
    padding-top: 5vh;
    left: 0;
    font-size: 20px;
    background: rgba(36, 36, 36, 0.363);
  }
  .lineBottom {
    top: 100vh;
  }
}
