.background {
  margin: auto;
  margin-top: 10vh;
  background: url("../../../../public/assets/headerBackground/pexels-max-vakhtbovych-5997993.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  transition: all 0.2s linear;

  /* height: 100%; */
}

.dimm {
  width: 100vw;
  height: 100%;
  background: rgba(94, 94, 94, 0.589);
}

@media (max-width: 600px) {
  .background {
    background-position: bottom;
    background-size: auto;
    transition: all 0.2s linear;
  }
}
