.background {
  margin: auto;
  background: url("../../../assets/headerBackground/pexels-max-vakhtbovych-5997993.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  width: 100%;
  /* height: 60%; */
  transition: all 0.2s linear;
}

.dimm {
  width: 100vw;
  height: 60vw;
  background: rgba(94, 94, 94, 0.589);
}

@media (max-width: 600px) {
  .background {
    background-position: bottom;
    background-size: cover;
    height: 100%;
    transition: all 0.2s linear;
  }
  .dimm {
    width: 100vw;
    height: 70vh;
    background: rgba(94, 94, 94, 0.589);
  }
}
