.MainSection {
  position: relative;
  /* top: calc(100vh + 360px); */
  /* width: 70%; */
  width: 100vw;
  /* background: grey; */

  /* margin-left: 15%; */
  display: grid;
  /* display: none; */
  margin-top: 100px;
  grid-template-columns: 1fr;
  row-gap: 30px;
  column-gap: 30px;
  /* padding-left: 15%; */
  justify-items: center;
}
.offerTitle {
  color: rgb(236, 236, 236);
  /* background: red; */
  width: 100vw;
  font-size: 60px;
  font-weight: 800;
  font-family: "Lora", serif;
  padding-top: 100px;
  padding-left: 20%;
  padding-bottom: 50px;
}

@media (max-width: 1200px) {
  .MainSection {
    width: 100vw;
    padding-left: 0;
    column-gap: 5px;
  }
}
@media (max-width: 830px) {
  .MainSection {
    width: 100vw;
    /* column-gap: 5px; */
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
}
