.header {
  height: 80vh;
  width: 100vw;
  margin: auto;
}

.nameBox {
  position: absolute;
  height: fit-content;
  top: 40%;
  width: 100%;

  /* width: 500px; */
  /* height: 300px; */
  /* left: calc(50vw - 500px / 2); */
}
.name {
  text-align: center;
  color: white;
  font-size: 4vw;
  font-family: "Nunito", sans-serif;
}
.companyText {
  text-align: center;
  color: white;
  font-size: 2vw;
  font-family: "Nunito", sans-serif;
}
