.header {
  /* display: none; */
  position: absolute;
  top: 0;
  /* position: relative; */
  /* height: 80vh; */
  /* background: red; */
  width: 100vw;
  z-index: 100;
}

.nameBox {
  position: absolute;
  height: fit-content;
  padding-top: 40vh;
  /* background: rgba(173, 173, 173, 0.705); */
  /* top: 40%; */
  /* right: 0; */
  padding-right: 200px;
  display: flex;
  flex-direction: column;
  /* text-align: right; */
  justify-content: center;
  align-items: center;
  width: 100%;

  /* width: 500px; */
  /* height: 300px; */
  /* left: calc(50vw - 500px / 2); */
}
.name {
  text-align: center;
  color: white;
  font-size: 60px;
  font-family: "Nunito", sans-serif;
}
.companyText {
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: "Nunito", sans-serif;
}

@media (max-width: 600px) {
  .nameBox {
    padding-top: 25vh;
  }
  .name {
    font-size: 30px;
  }
  .companyText {
    font-size: 15px;
  }
}
