.background {
  /* position: relative; */
  /* margin-top: 100px; */
  background: url("../../../assets/headerBackground/pexels-cleyder-duque-3637789.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: calc(100vh - 100px - 100px);
  z-index: -100;

  /* height: 60%; */
  /* transition: all 0.2s linear; */
}

.dimm {
  /* position: relative; */
  width: 100vw;
  height: calc(100vh - 100px - 100px);
  background: rgba(94, 94, 94, 0.589);
}

.nameBox {
  position: relative;
  top: -60vh;
  width: 100%;
  /* background: red; */
  display: flex;
  flex-direction: column;
  text-align: center;
}
.name {
  color: white;
  font-size: 40px;
}
.companyText {
  color: white;
  font-size: 20px;
}

@media (max-width: 600px) {
  .background {
    /* position: absolute; */
    /* margin-top: 100px; */
    background-position: top;
    background-size: cover;
    height: 50vh;
    /* transition: all 0.2s linear; */
  }
  .dimm {
    /* position: relative; */
    width: 100vw;
    height: 50vh;
    background: rgba(94, 94, 94, 0.589);
    /* background: none; */
  }
  .nameBox {
    top: -30vh;
  }
  .name {
    font-size: 25px;
  }
  .companyText {
    font-size: 15px;
  }
}
