.shortAboutSection {
  position: relative;
  top: -200px;
  padding-top: 50px;
  width: 100vw;
  height: 360px;
  /* background: rgb(202, 202, 202); */
  /* transition: all 0.4s linear; */
}
.about {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: black;
  font-size: 28px;
}
.about p {
  width: 70%;
  font-family: "Lora", serif;
  font-size: 18px;
  text-align: justify;
}
.btns {
  position: relative;
  margin: auto;
  margin-top: 20px;
  width: 50%;
  bottom: 10px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

.ourProjects,
.aboutUs {
  margin: 10px;
  height: 50px;
  width: 250px;
  color: white;
  font-size: 18px;
  font-family: "Lora", serif;

  text-align: center;
  outline: none;
  border: none;
  transition: all 0.4s linear;
}
.ourProjects {
  background: rgb(90, 90, 90);
}
.aboutUs {
  background: rgb(211, 147, 28);
}
.ourProjects:hover {
  background: rgb(29, 29, 29);
}
.aboutUs:hover {
  background: rgb(173, 121, 24);
}

@media (max-width: 1300px) {
  .shortAboutSection {
    height: 300px;
  }
  .about p {
    padding-top: 0;
  }
}
@media (max-width: 860px) {
  .about p {
    font-size: 15px;
  }

  /* .shortAboutSection {
    height: 300px;
  }
  .about p {
    padding-top: 100px;
  } */
}

/* @media (max-width: 800px) {
  .shortAboutSection {
    position: relative;

    bottom: 0;
  }
} */

@media (max-width: 580px) {
  .shortAboutSection {
    /* height: 100%; */
    top: 0;
  }
  .about {
    padding-top: 0;
  }
  .about p {
    padding-top: 0;
  }
  .btns {
    flex-direction: column;
  }
  .ourProjects,
  .aboutUs {
    height: 25px;
    width: 150px;
    font-size: 14px;
  }
}
