.shortAboutSection {
  position: relative;
  /* top: -200px; */
  /* padding-top: 150px; */
  width: 100vw;
  height: auto;
  /* background: grey; */
}

.about {
  margin: auto;
  /* background: red; */
  width: 70%;
  /* height: 50vh; */
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.where,
.whatWeUse,
.quality {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 20px;
  height: 400px;
  margin: 10px;
  /* box-shadow: 0 0 10px white; */
  border-radius: 10px;
  background: rgb(224, 224, 224);
  /* border: 1px solid red; */
}
.where {
  animation-name: aboutSlide;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transform: translateX(-200vw);
  animation-delay: 0.5s;
  animation-play-state: paused;
}
.whatWeUse {
  animation-name: aboutSlide;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transform: translateX(-200vw);
  animation-delay: 0.3s;
  animation-play-state: paused;
}
.quality {
  animation-name: aboutSlide;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transform: translateX(-200vw);
  animation-delay: 0.1s;
  animation-play-state: paused;
}

.qualityPic {
  background: url("../../assets/about/pexels-ivan-samkov-4491846.jpeg");
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}

.wherePic {
  background: url("../../assets/about/pexels-anthony-beck-4278035.jpeg");
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}

.whatWeUsePic {
  background: url("../../assets/about/Kiln-dried-wood.jpeg");
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}

@keyframes aboutSlide {
  to {
    transform: translateX(0);
  }
}

.whereText,
.whatWeUseText,
.qualityText {
  margin-top: 50px;
  width: 20vw;
}

@media (max-width: 1000px) {
  .about {
    flex-direction: column;
  }

  .whereText,
  .whatWeUseText,
  .qualityText {
    margin-top: 50px;
    width: auto;
  }
}
